body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul {
    list-style: none
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    gap: 300px;
    background-color:rgb(219, 217, 248) ;
    border-color: azure;
    color: azure;
}

h1 {
    text-align: center;
    color: rgb(79, 53, 226);
    width:fit-content;
}

#item {
    border-style: solid;
    box-sizing: border-box;
    width: 100px;
}

ul.cima {
    display: flex;
    gap: 10px;
}

/*Content of the Page*/

nav.conteudo {
    border-style: solid;
    padding: 5% 15%;
    margin: 2%;

}

h2 {
    box-sizing: border-box;
    width: 200px;
    margin-top: 0%;
}

article.artigo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 10px;

}

img {
    float: left;
    width: fit-content;
    height: fit-content;
}

/*Footer of the Page*/
footer {
    display: flex;
    justify-content: center;
    

}

ul.base {
 display: flex;
 gap: 10px;
}


